@{
    ViewData["Title"] = "智能小车控制面板";
}
@section Css{
    <link href="~/css/car.css" rel="stylesheet" />
}
<div class="text-center">
    <h5 class="display-4">控制面板</h5>
</div>

<div class="control-wrapper">
    <div class="control-btn control-top">
        <i class="fa fa-chevron-up">↑</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-btn control-left">
        <i class="fa fa-chevron-left">←</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-btn control-bottom">
        <i class="fa fa-chevron-down"></i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-btn control-right">
        <i class="fa fa-chevron-right">→</i>
        <div class="control-inner-btn control-inner"></div>
    </div>
    <div class="control-round">
        <div class="control-round-inner">
            <i class="fa fa-pause-circle">stop</i>
        </div>
    </div>
</div>

<div class="text-center">
    <h5 class="display-4">模块反馈数据</h5>
    <p id="csb">32.78CM</p>
</div>
@section Scripts{
    <script src="~/js/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub?groupName=3603631297").build();

        connection.on("ReceiveMessage", function (msg) {
            $("#csb").text(msg);
        });

        connection.start().then(function () { }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.onclose(async () => {
            console.info('监听到链接关闭');
            await start();
        });

        async function start() {
            try {
                await connection.start();
                console.log("connected");
            } catch (err) {
                console.log(err);
                setTimeout(() => start(), 5000); // 断线重连
            }
        };
    </script>
}